
<div class="container">
    <div class="row">
        <div clas="col-12">
            <ul>
                <li>@Html.ActionLink("Bootstrap Demo Nav", "BootstrapNav", "BootstrapNavigation")</li>
                <li>@Html.ActionLink("jQuery Validation", "Contact", "Home")</li>
                <li>@Html.ActionLink("Bulk Insert", "Home", "Bulk")</li>
                <li>@Html.ActionLink("Random Numbers", "Home", "RandomInt")</li>
                <li>@Html.ActionLink("Pager", "Home", "Pager")</li>
                <li>@Html.ActionLink("Email With Attachment", "Home", "SendEmail")</li>
            </ul>
        </div>
    </div>
</div>

