
<div class="container">
    <div class="row">
        <div clas="col-12">
            <h1>Code Examples</h1>
            <ul>
                <li>@Html.ActionLink("Bootstrap Demo Nav", "BootstrapNav", "BootstrapNavigation")</li>
                <li>@Html.ActionLink("jQuery Validation", "Contact", "Home")</li>
                <li>@Html.ActionLink("Bulk Insert", "Home", "Bulk")</li>
                <li>@Html.ActionLink("Random Numbers", "Home", "RandomInt")</li>
                <li>@Html.ActionLink("Pager", "Home", "Pager")</li>
                <li>@Html.ActionLink("Email With Attachment", "Home", "SendEmail")</li>
                <li>@Html.ActionLink("For Loop", "Home", "ForLoop")</li>
                <li>@Html.ActionLink("CSS Flex", "Home", "CssFlex")</li>
                <li>@Html.ActionLink("Ajax jQuery Form", "Home", "JQueryForm")</li>
            </ul>
            <h1>Different types of Caching</h1>
            <ul>
                <li>@Html.ActionLink("Caching OutputCache", "MvcCachingExample", "MvcCaching")</li>
                <li>@Html.ActionLink("Caching Profile", "MvcCacheProfileExample", "MvcCachingUsingMaster")</li>
                <li>@Html.ActionLink("Caching Profile Will Throw Error Using Render Action", "MvcCacheProfileButNotForRenderActionPartialsViewsExample", "MvcCachingUsingMaster")</li>
            </ul>
        </div>
    </div>
</div>

